#Server Congfiguration
PORT=5000
NODE_ENV=development

#Database Configuration
DB_HOST=localhost
DB_USER=ROOT
DB_PASSWORD=
DB_NAME=auth_db

#JWT Secret
#Generatge fromhttps://jwtsecrets.com/#generator 
JWT_SECRET= 
JWT_EXPIRE=7d

#EMAIL Configuration
#Setup SMTP from https://mailtrap.io/
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_URER=
EMAIL_PASSWORD=

#Frontend URL
FRONTEND_URL=http://localhost:5173

